{% extends 'base.html' %}

{% partialdef lock_card %}
    <div class="card bg-base-100 shadow-sm hover:shadow-md transition-shadow">
        <div class="card-body p-3">

            <div class="flex justify-between items-start gap-4">
                <div class="flex-1 min-w-0">
                    <div class="flex items-center gap-2 flex-wrap">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
                        </svg>
                        <h2 class="card-title leading-tight">
                            {{ lock.lockAlias }}
                        </h2>
                    </div>
                </div>

                <div class="flex items-center gap-1.5 bg-base-100 px-2 py-1 rounded-lg">
                    {% if lock.hasGateway %}
                        <div class="tooltip tooltip-success" data-tip="online">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 text-success animate-pulse">
                                <path d="M16.364 3.636a.75.75 0 0 0-1.06 1.06 7.5 7.5 0 0 1 0 10.607.75.75 0 0 0 1.06 1.061 9 9 0 0 0 0-12.728ZM4.697 4.697a.75.75 0 0 0-1.061-1.061 9 9 0 0 0 0 12.728.75.75 0 1 0 1.06-1.06 7.5 7.5 0 0 1 0-10.607Z" />
                                <path d="M12.475 6.464a.75.75 0 0 1 1.06 0 5 5 0 0 1 0 7.072.75.75 0 0 1-1.06-1.061 3.5 3.5 0 0 0 0-4.95.75.75 0 0 1 0-1.06ZM7.525 6.464a.75.75 0 0 1 0 1.061 3.5 3.5 0 0 0 0 4.95.75.75 0 0 1-1.06 1.06 5 5 0 0 1 0-7.07.75.75 0 0 1 1.06 0ZM11 10a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" />
                            </svg>
                        </div>
                    {% else %}
                        <div class="tooltip tooltip-warning" data-tip="offline">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 text-warning">
                                <path d="M2.22 2.22a.75.75 0 0 1 1.06 0l6.783 6.782a1 1 0 0 1 .935.935l6.782 6.783a.75.75 0 1 1-1.06 1.06l-6.783-6.782a1 1 0 0 1-.935-.935L2.22 3.28a.75.75 0 0 1 0-1.06ZM3.636 16.364a9.004 9.004 0 0 1-1.39-10.936L3.349 6.53a7.503 7.503 0 0 0 1.348 8.773.75.75 0 0 1-1.061 1.061ZM6.464 13.536a5 5 0 0 1-1.213-5.103l1.262 1.262a3.493 3.493 0 0 0 1.012 2.78.75.75 0 0 1-1.06 1.06ZM16.364 3.636a9.004 9.004 0 0 1 1.39 10.937l-1.103-1.104a7.503 7.503 0 0 0-1.348-8.772.75.75 0 1 1 1.061-1.061ZM13.536 6.464a5 5 0 0 1 1.213 5.103l-1.262-1.262a3.493 3.493 0 0 0-1.012-2.78.75.75 0 0 1 1.06-1.06Z" />
                            </svg>
                        </div>
                    {% endif %}

                    {% if lock.electricQuantity >= 80 %}
                        <div class="tooltip tooltip-success" data-tip="{{ lock.electricQuantity }}%">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 text-success">
                                <path d="M4.75 8a.75.75 0 0 0-.75.75v2.5c0 .414.336.75.75.75h9.5a.75.75 0 0 0 .75-.75v-2.5a.75.75 0 0 0-.75-.75h-9.5Z" />
                                <path fill-rule="evenodd" d="M1 7.25A2.25 2.25 0 0 1 3.25 5h12.5A2.25 2.25 0 0 1 18 7.25v1.085a1.5 1.5 0 0 1 1 1.415v.5a1.5 1.5 0 0 1-1 1.415v1.085A2.25 2.25 0 0 1 15.75 15H3.25A2.25 2.25 0 0 1 1 12.75v-5.5Zm2.25-.75a.75.75 0 0 0-.75.75v5.5c0 .414.336.75.75.75h12.5a.75.75 0 0 0 .75-.75v-5.5a.75.75 0 0 0-.75-.75H3.25Z" clip-rule="evenodd" />
                            </svg>
                        </div>
                    {% elif lock.electricQuantity > 20 %}
                        <div class="tooltip tooltip-warning" data-tip="{{ lock.electricQuantity }}%">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 text-warning">
                                <path d="M4.75 8a.75.75 0 0 0-.75.75v2.5c0 .414.336.75.75.75H9.5a.75.75 0 0 0 .75-.75v-2.5A.75.75 0 0 0 9.5 8H4.75Z" />
                                <path fill-rule="evenodd" d="M3.25 5A2.25 2.25 0 0 0 1 7.25v5.5A2.25 2.25 0 0 0 3.25 15h12.5A2.25 2.25 0 0 0 18 12.75v-1.085a1.5 1.5 0 0 0 1-1.415v-.5a1.5 1.5 0 0 0-1-1.415V7.25A2.25 2.25 0 0 0 15.75 5H3.25ZM2.5 7.25a.75.75 0 0 1 .75-.75h12.5a.75.75 0 0 1 .75.75v5.5a.75.75 0 0 1-.75.75H3.25a.75.75 0 0 1-.75-.75v-5.5Z" clip-rule="evenodd" />
                            </svg>
                        </div>
                    {% else %}
                        <div class="tooltip tooltip-error" data-tip="{{ lock.electricQuantity }}%">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 text-error animate-pulse">
                                <path fill-rule="evenodd" d="M1 7.25A2.25 2.25 0 0 1 3.25 5h12.5A2.25 2.25 0 0 1 18 7.25v1.085a1.5 1.5 0 0 1 1 1.415v.5a1.5 1.5 0 0 1-1 1.415v1.085A2.25 2.25 0 0 1 15.75 15H3.25A2.25 2.25 0 0 1 1 12.75v-5.5Zm2.25-.75a.75.75 0 0 0-.75.75v5.5c0 .414.336.75.75.75h12.5a.75.75 0 0 0 .75-.75v-5.5a.75.75 0 0 0-.75-.75H3.25Z" clip-rule="evenodd" />
                            </svg>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="divider my-1 opacity-30"></div>

            <div class="card-actions items-center justify-between">
                <div class="flex items-center gap-0">
                    <ul class="menu menu-horizontal w-full justify-start gap-1 px-0">
                        <li class="dropdown dropdown-top shadow-sm border border-base-200/50">
                            <div tabindex="0" role="button" class="tooltip tooltip-primary flex items-center justify-center hover:bg-base-content/10 transition-colors cursor-pointer" data-tip="Info">
                                <svg xmlns="http://www.w3.org/2000/svg" class="size-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                            </div>
                            <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm border border-base-200/50 mb-2">
                                <li class="menu-title text-xs">Info lock</li>
                                <li><a class="text-xs">ID: {{ lock.lockId }}</a></li>
                                <li><a class="text-xs">Nome: {{ lock.lockName }}</a></li>
                                <li><a class="text-xs">MAC: {{ lock.lockMac }}</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="tooltip tooltip-primary shadow-sm border border-base-200/50" data-tip="Crea passcode">
                                <a>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-4">
                                        <path fill-rule="evenodd" d="M8 7a5 5 0 1 1 3.61 4.804l-1.903 1.903A1 1 0 0 1 9 14H8v1a1 1 0 0 1-1 1H6v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-2a1 1 0 0 1 .293-.707L8.196 8.39A5.002 5.002 0 0 1 8 7Zm5-3a.75.75 0 0 0 0 1.5A1.5 1.5 0 0 1 14.5 7 .75.75 0 0 0 16 7a3 3 0 0 0-3-3Z" clip-rule="evenodd" />
                                    </svg>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>

                <button class="btn btn-primary btn-sm px-4 shadow-sm text-white">Apri</button>
            </div>
        </div>
    </div>
{% endpartialdef %}

{% partialdef lock_grid %}
    {% if locks %}
        {% for lock in locks %}
            {% partial lock_card %}
        {% endfor %}
    {% else %}
        <div class="col-span-full text-center py-10 opacity-50">
            <span>Nessun lock trovato...</span>
        </div>
    {% endif %}
{% endpartialdef %}

{% partialdef api_error_feedback %}
    <div role="alert" class="alert alert-error transition-all duration-300 ease-in-out opacity-100 scale-100">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>{{ api_error }}</span>
        <button
            type="button"
            class="ms-auto -mx-1.5 -my-1.5 rounded focus:ring-2 focus:ring-brand-medium hover:bg-brand-soft inline-flex items-center justify-center h-8 w-8 shrink-0"
            hx-on:click="
                const alert = this.closest('.alert');
                alert.classList.add('opacity-0', 'scale-95');
                setTimeout(() => alert.remove(), 300);
            "
            aria-label="Close">
            <span class="sr-only">Close</span>
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
            </svg>
        </button>
    </div>
{% endpartialdef %}

{# Partial used to automatically remove alert feedback (caused by a failed sync) after a success sync #}
{% partialdef sync_response %}
    <div id="api-error" hx-swap-oob="true"></div>
    {% partial lock_grid %}
{% endpartialdef %}

{% block content %}
    <div class="flex flex-col gap-6">
        
        {% comment %} Same id of the OOB element {% endcomment %}
        <div id="api-error"> 
            {% if api_error %}
                {% partial api_error_feedback %}
            {% endif %}
        </div>

        <div class="flex justify-between items-center">
            <h1 class="text-2xl">I tuoi lock ({{ total }})</h1>
            <div class="tooltip tooltip-primary" data-tip="Sincronizza lock">
                <button id="sync-btn"
                        hx-post="{% url 'sync_locks' %}"
                        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                        hx-target="#lock-grid"
                        hx-swap="innerHTML"
                        hx-indicator="#sync-btn, #lock-grid"
                        class="btn btn-ghost btn-circle shadow-sm bg-base-100 [&.htmx-request_svg]:animate-spin [&.htmx-request]:pointer-events-none">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-6 transition-transform">
                        <path fill-rule="evenodd" d="M15.312 11.424a5.5 5.5 0 0 1-9.201 2.466l-.312-.311h2.433a.75.75 0 0 0 0-1.5H3.989a.75.75 0 0 0-.75.75v4.242a.75.75 0 0 0 1.5 0v-2.43l.31.31a7 7 0 0 0 11.712-3.138.75.75 0 0 0-1.449-.39Zm1.23-3.723a.75.75 0 0 0 .219-.53V2.929a.75.75 0 0 0-1.5 0V5.36l-.31-.31A7 7 0 0 0 3.239 8.188a.75.75 0 1 0 1.448.389A5.5 5.5 0 0 1 13.89 6.11l.311.31h-2.432a.75.75 0 0 0 0 1.5h4.243a.75.75 0 0 0 .53-.219Z" clip-rule="evenodd" />
                    </svg>
                </button>
            </div>
        </div>

        <div id="lock-grid" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-8 transition-opacity [&.htmx-request]:opacity-40 [&.htmx-request]:pointer-events-none">
            {% partial lock_grid %}
        </div>
    </div>
{% endblock %}